name: GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: gh-pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: pnpm install
      - run: pnpm run build
      - id: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: .vitepress/dist
  deploy:
    permissions:
      id-token: write
      pages: write
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
  deploy-edgeone:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - uses: actions/download-artifact@v7
        with:
          artifact-ids: ${{ steps.upload.outputs.artifact_id }}
          path: ${{ runner.temp }}/gh-pages
      - run: |
          tar -xvf "${{ runner.temp }}/gh-pages/artifact.tar" --force-local
      - run: |
          pnpx edgeone pages deploy -n handbook .
        env:
          EDGEONE_PAGES_API_TOKEN: ${{ secrets.EDGEONE_PAGES_API_TOKEN }}
